.container-fluid {
  padding-top: 40px;
}

.cards .card {
  box-shadow: 5px;
  border: none;
  margin-bottom: 50px;
  width: 300px;
}

.card .image-wrapper {
  height: 200px;
}

.card .image-wrapper .flag {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card a {
  text-decoration: none;
  color: black;
}
#main .cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc li {
  border: none;
}

.card:hover {
  scale: 110%;
  transition: 1s ease;
}

.container a{
  text-decoration: none;
  color: black;
}

input {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: none;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .light-mode {
background-color: white;
color: black !important;
}

.dark-mode {
  background-color: #1f1f1f;
  color: white !important; 
}
 */


 